@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.pulse-text {
  animation: "pulse" 2s infinite;
}

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  max-height: 30rem;
  min-height:fit-content;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
}

.layer {
  background-image: url("../../assets/blue-bg-gradient.svg");
}

.layer2 {
  background-image: url("../../assets/layered-waves-gradient.svg");
  min-width: 80rem;
}
