.carousel-container{
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    width:min-content;

}


.carousel-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pag-button{
    margin-right: 2rem;
    margin-left: 2rem;
}