@layer base, primereact, utilities;

@import "tailwindcss";
/* @import "./theme.css" layer(primereact); */
@import "primereact/resources/themes/fluent-light/theme.css" layer(primereact);

@theme {
  --color-vst-white: white;
  /* light mode color palette */
  --color-primary-content: black;
  --color-secondary-content: rgb(20, 20, 20);


  --color-primary-background: white;
  --color-secondary-background: rgb(220, 220, 220); 
  --color-highlight-background: #0068b7;

  --color-vst-blue-100: oklch(95% 0.02 250);
  --color-vst-blue-200: oklch(87% 0.06 250);
  --color-vst-blue-300: oklch(80% 0.1 250);
  --color-vst-blue-400: oklch(76% 0.13 250);
  --color-vst-blue-500: oklch(62% 0.22 250);
  --color-vst-blue-600: oklch(51% 0.15 250);
  --color-vst-blue-700: oklch(42% 0.15 250);
  --color-vst-blue-800: oklch(22% 0.05 250);
  --color-vst-blue-900: oklch(17% 0.03 250);
}
.dark {
  /* Dark Mode Overrides */
  --color-primary-content: white;
  --color-secondary-content: rgb(230, 230, 230);

  --color-primary-background: rgb(0, 0, 0);
  --color-secondary-background: grey; 
  --color-highlight-background: oklch(17% 0.03 250);


  /* --color-vst-blue-100: purple;
  --color-vst-blue-200: purple;
  --color-vst-blue-300: purple;
  --color-vst-blue-400: purple;
  --color-vst-blue-500:purple;
  --color-vst-blue-600: purple;
  --color-vst-blue-700: purple;
  --color-vst-blue-800: purple;
  --color-vst-blue-900: purple; */
  .layer2 {
    background-image: url("./assets/layered-waves-gradient.svg");
    min-width: 80rem;
    position: absolute;
    background-color: white;
    bottom: 0;
    min-height: 5rem;
    z-index: -1;
  }
}

@layer base {
  @font-face {
    font-family: "bangers";
    src:
      local("Bangers"),
      url("/public/Iceland-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "general";
    src:
      local("general"),
      url("/public/Quicksand/Quicksand-VariableFont_wght.ttf")
        format("truetype");
  }
}

.bangers-font {
  font-family: "bangers";
}

.general-font {
  font-family: "general";
}

@layer utilities {
  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 200%, 0 100%);
  }
}

body {
  font-family: "general", sans-serif;
  width: 100dvw;
  overflow-x: hidden;
}

html {
  /* removes scroll bar IE Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* removes scroll bar chrome safari and opera */
html::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  /* Tailwind's md breakpoint */
  .video-width {
    width: 100%;
    /* min-height: 45rem; */
    top: -2rem;
  }
  .video-clip-path {
  }
}

@media (min-width: 1024px) {
  /* Tailwind's lg breakpoint */
  .video-width {
    width: 88%;
    /* min-height: 45rem; */
    top: -2rem;
  }
  .video-clip-path {
    /* clip-path: polygon(100% 0%, 83% 63%, 100% 100%, 18% 99%, 0 58%, 25% 0%); */
    /* clip-path: polygon(100% 18%, 83% 63%, 94% 81%, 15% 82%, 0 58%, 26% 17%); */
    clip-path: polygon(100% 27%, 80% 63%, 93% 77%, 15% 82%, 0 58%, 26% 17%);
  }
}
