@import "tailwindcss";

@theme {
  /* blue color palette  */
  --color-vst-blue-100: oklch(95% 0.02 250);
  --color-vst-blue-200: oklch(87% 0.06 250);
  --color-vst-blue-300: oklch(80% 0.1 250);
  --color-vst-blue-400: oklch(76% 0.13 250);
  --color-vst-blue-500: oklch(62% 0.22 250);
  --color-vst-blue-600: oklch(51% 0.15 250);
  --color-vst-blue-700: oklch(42% 0.15 250);
  --color-vst-blue-800: oklch(22% 0.05 250);
  --color-vst-blue-900: oklch(17% 0.03 250);
}

@layer base {
  @font-face {
    font-family: 'bangers';
    src: local('Bangers'), url('/public/Iceland-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'general';
    src: local('general'), url('/public/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  }
}

@layer utilities {

  .mask-clip-path{
    clip-path: polygon(0 0, 100% 0 , 100% 200%, 0 100%);
  }
}

body{
  font-family: 'general', sans-serif;
  width: 100dvw;
  background-color: black;
  overflow-x: hidden;
}

@media (min-width: 768px) { /* Tailwind's md breakpoint */
  .video-clip-path{
    clip-path: polygon(100% 17%, 100% 81%, 0 81%, 0 58%, 42% 18%);
  }
}

@media (min-width: 1024px) { /* Tailwind's lg breakpoint */
  .video-clip-path{
    /* clip-path: polygon(100% 0%, 83% 63%, 100% 100%, 18% 99%, 0 58%, 25% 0%); */
    /* clip-path: polygon(100% 18%, 83% 63%, 94% 81%, 15% 82%, 0 58%, 26% 17%); */
    clip-path: polygon(100% 27%, 80% 63%, 93% 77%, 15% 82%, 0 58%, 26% 17%);
    
  }
}



.bangers-font{
  font-family: 'bangers';
}
.general-font{
  font-family: 'general';
}